@using MvcCv.Models.Entity
@model List<TblHakkimda>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Profil Düzenleme Sayfası</h2>
<br />
<form method="post">
    @foreach (var item in Model)
    {
        <label>Ad</label>
        <input type="text" name="Name" value="@item.Name" class="form-control" />
        <br />
        <label>Soyad</label>
        <input type="text" name="Surname" value="@item.Surname" class="form-control" />
        <br />
        <label>Adres</label>
        <input type="text" name="Address" value="@item.Address" class="form-control" />
        <br />
        <label>Telefon</label>
        <input type="text" name="Number" value="@item.Number" class="form-control" />
        <br />
        <label>Mail Adresi</label>
        <input type="text" name="Mail" value="@item.Mail" class="form-control" />
        <br />
        <label>Resim</label>
        <input type="text" name="Image" value="@item.Image" class="form-control" />
        <br />
        <label>Açıklama</label>
        <textarea rows="5" class="form-control" name="Explanation">@item.Explanation</textarea>

    }
    <br />
    <button class="btn btn-info btn-sm">
        <i class="fas fa-pencil-alt"></i>
        Güncelle
    </button>
</form>